NET "CLK_BRD" TNM_NET = "TNM_CLK_BRD";
TIMESPEC "TS_CLK_BRD" = PERIOD "TNM_CLK_BRD" 20Mhz HIGH 50%;
NET "CLK_BRD" LOC=P56;
#NET "RST_BTN" LOC=P131;
NET "UIO<3>"  LOC=P116;
NET "UIO<2>"  LOC=P120;
NET "UIO<1>"  LOC=P126;
NET "UIO<0>"  LOC=P134;